:root{
  --bg: rgb(255, 217, 0);
}
body{
  background-color: black;
  color: white;
}
button{
  cursor: pointer;
  font-size: 5vw;
  border-radius: 0.1vw;
  border: 0.1vw white solid;
  color:white;
}
#canvas{
  margin: -2vw 25vw 0 25vw;
  padding: 0%;
  border: 0.1vw solid white;
  max-width: 100%;
}
.whatSee{
  font-size: 1vw;
}
.tryAgain{
  font-size: 2vw;
}
.startB{
  margin: 2vw;
  background-color: black;
}
.phoneControls{
  display: none;
}
table{
  background-color: rgb(71, 68, 68);
  text-align: center;
}
thead{
  background-color: gray;
}
tbody{
  background-color: rgb(117, 116, 116);
}
.icon{
  width: 2vw;
}
.topIcon{
  top: -1vw;
  margin: 0;
  padding: 0;
}
.logo{
  color: white;
  text-decoration: none;
  margin: 1vw;
}













/* phone version */
@media only screen and (max-width: 768px) {
  .phoneControls{
    background-color: gray;
    display: inherit;
  }
  .phoneControls > button{
    width: 31vw;
    height: 31vw;
    background-color: black;
    font-size: 20vw;
    user-select: none;
    margin: 1vw auto;
  }
  .u{
    margin-left: 31vw !important;
  }
  #canvas{
    margin: 0;
  }
  .logo{
    display: none;
  }
}